<mat-card class="loginCard">
    <div class="elementsCard">
        <div class="containerLoginTitle">
            <h1>Iniciar Sesión</h1>
        </div>
        <form class="loginForm">
            <div class="inputsLogin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Ingresar usuario">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ingresar contraseña">
                </mat-form-field>
            </div>
            <div class="buttonsLogin">
                <button class="btnEnterLogin" mat-stroked-button color="primary">Ingresar</button>
                <button class="btnEnterRegister" mat-stroked-button color="primary">Registrar</button>
            </div>


        </form>
    </div>
</mat-card>