<mat-card class="registerCard">
    <div class="elementsCard">
        <div class="containerRegisterTitle">
            <h1>Registarse</h1>
        </div>
        <form class="registerForm">
            <div class="inputsRegister">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="Ingresar cedula">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput placeholder="Ingresar nombre completo" type="password">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ingresar email" type="password">
                </mat-form-field>
            </div>
            <div class="buttonsLogin">
                <button class="btnEnterLogin btn" mat-stroked-button color="primary">Ingresar</button>
                <button class="btnEnterRegister btn" mat-stroked-button color="primary">Registrar</button>
            </div>
        </form>
    </div>
</mat-card>