.registerCard{
    min-height: 69vh;
    width: 50%;
    margin: 30px auto;
}

.elementsCard{
   text-align:  center;
}

.example-full-width{
    width: 80%;
}

.buttonsRegister{
    width: 80%;
    margin: 0 auto;
}

.buttonsRegister .btn{
    width: 100%;
    color: #4974a5;
    border-color: #00000036;
}