<mat-card class="registerCard">
    <div class="elementsCard">
        <div class="containerRegisterTitle">
            <h1>Registrarse</h1>
        </div>
        <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
            <div class="inputsRegister">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="Ingresar cedula" type="number" formControlName="identificationNumber">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput placeholder="Ingresar nombre completo" type="text" formControlName="fullName">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ingresar email" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Ingresar passsword" type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="cityCode">
                        <mat-option *ngFor="let city of cities" [value]="city.code">
                            {{city.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttonsRegister">
                <button *ngIf="spinner" class="btn" mat-stroked-button type="submit">Registrarse</button>

                <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="false"></span>
                    <span class="sr-only"> Registrando...</span>
                </button>
            </div>
        </form>
    </div>
</mat-card>