.elementsCard{
    text-align:  center;
 }
 
 .example-full-width{
     width: 80%;
 }
 img{
    width: 120px;
 }
 .buttonsLogin{
     width: 80%;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
 }
 .buttonsLogin {
     color: #4974a5;
     border-color: #00000036;
 }

 .btnEnterLogin{
    border: 1px solid #3F51B5;
 }
 .alert-danger{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    width: 80%;
    margin: 5px auto;
}

.container-error-message{
    padding: 2px; 
    text-align: start;
}