<div class="elementsCard">
    <h1 mat-dialog-title>Iniciar Sesión</h1>
    <div mat-dialog-content>
        <form [formGroup]="form" class="loginForm" (ngSubmit)="onSubmit()">
            <div class="inputsLogin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Numero de documento</mat-label>
                    <input matInput placeholder="Ingresar numero de documento" formControlName="identificationNumber">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ingresar contraseña" type="password" formControlName="password">
                </mat-form-field>
            </div>
            <div class="buttonsLogin">
                <button *ngIf="!spinner" class="btnEnterLogin btn" mat-stroked-button type="submit">Ingresar</button>
                <button *ngIf="spinner" class="btn" mat-stroked-button>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </button>

                <button class="btnEnterRegister btn" type="button" mat-stroked-button (click)="showRegister()">Registrar</button>
            </div>
        </form>
    </div>
</div>
<!-- <div mat-dialog-actions>
</div> -->