<section class="content">
    <div class="contentTitle">
        <h1>Documentos</h1>
    </div>
    <div class="contentInput">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Buscar documento">
    </div>
    <div class="warning" *ngIf="showWarning">
        <span>— No se encontró ningún documento —</span>
    </div>
    <div class="contentButtons">
        <button class="contentButtonsLost btn" mat-stroked-button color="primary" (click)="showWarning=!showWarning">Documento perdido</button>
        <button class="contentButtonsFound btn" mat-stroked-button color="primary" (click)="showWarning=!showWarning">Documento encontrado</button>
    </div>
    <div class="contentImgs">
        <div class="imgLost contentImg">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
        </div>
        <div class="imgFound contentImg">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
        </div>
    </div>
</section>