<section class="container">
    <div class="containerTitle">
        <h1>Documentos</h1> 
    </div>
   <div class="containerInput">
       <mat-icon>search</mat-icon>
       <input type="text" placeholder="Buscar documento">
   </div>
   <div class="containerButtons">
    <button class="containerButtonsLost btn" mat-stroked-button color="primary">Documento perdido</button>
    <button class="containerButtonsFound btn" mat-stroked-button color="primary">Documento encontrado</button>
   </div>
</section>