<section class="container">
    <div class="containerTitle">
        <h1>Documentos</h1>
    </div>
    <div class="containerInput">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Buscar documento">
    </div>
    <div class="containerButtons">
        <button class="containerButtonsLost btn" mat-stroked-button color="primary">Documento perdido</button>
        <button class="containerButtonsFound btn" mat-stroked-button color="primary">Documento encontrado</button>
    </div>
    <div class="containerImgs">
        <div class="imgLost containerImg">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
            <img src="../../../assets/images/imgLost.png" alt="Imagen de un documento perdido">
        </div>
        <div class="imgFound containerImg">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
            <img src="../../../assets/images/imgFound.png" alt="Imagen de un documento encontrado">
        </div>
    </div>
</section>