.container{
    height: 90vh;
}

.container .containerTitle{
    text-align: center;
    margin: 40px 0;
}

.container .containerTitle h1{
    font-size: 50px;
    
}

.container .containerInput{
    max-width: 560px;
    height: 44px;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid #5f6368;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.container .containerInput input{
    max-width: 500px;
    height: 34px;
    border: none;
    font-size: 18px;
    outline: none;
    
}

.container .containerInput:hover{
    box-shadow: 0 1px 6px #5f6368;
}

.container .containerInput mat-icon{
    padding: 0 10px;
}

.container .containerButtons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.container .containerButtons .btn{
    width: 220px;
}

/** Images */

img{
    width: 100%;
}
.containerImgs{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    
}

.containerImgs .containerImg{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.containerImgs .imgLost{
   
    padding-right: 5%;
    border-right: 1px #5f636880 solid;
}

.containerImgs .imgFound{
   
    padding-left: 5%;
}